.navbar {
    background-color: #000044;
}

nav .navbar-brand .orange
{
    color: orangered;
}

.nav-pills .nav-link.active
{
    background-color: orangered;
}

.btn-outline-success {
    color: orangered;
    border-color: orangered;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

a {
    color: #ffffff;
}

.jumbotron {
    background-color: #ffffff;
}